.app__footerOverlay{
    height: 100%;
    width: 100%;
    display: flex;
    z-index: -1;
    flex-direction: column;
    position: absolute;
}

.app__footerOverlay-black{
    color: var(--color-black);
    height: 25%;
}

.app__footerOverlay-img{
    height: 75%;
}